---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Main.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.data.title}>
    <section id={post.slug}>
        <div class="container">
            <h2>{post.data.title}</h2>
            <small>Published on {post.data.published.toDateString()}</small>
            <Content />
        </div>
    </section>
</Layout>