---
import Layout from '../../layouts/Main.astro';
import { getCollection } from 'astro:content';

const blog = await getCollection('blog')
blog.reverse()
---

<Layout title="Off the Gully | Blog">
    {blog.map(entry => (
        <section id={entry.slug}>
            <div class="container">
                <h2>{entry.data.title}</h2>
                <small>Published on {entry.data.published.toDateString()}</small>
                <div class="post">
                    {entry.body}
                </div>
            </div>
        </section>
    ))}
</Layout>