---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Main.astro';

const posts = await getCollection('blog')
posts.sort((a, b) => {
    return a.data.published < b.data.published ? 1 : -1
})
---
<Layout title="Off the Gully | Blog">
    {posts.map(async post => {
        const { Content } = await post.render()
        return (
            <section>
                <div class="container">
                    <h2>{post.data.title}</h2>
                    <small>Published on {post.data.published.toDateString()}</small>
                    <div class="preview">
                        <Content />
                    </div>
                    <a href={"/blog/" + post.slug}>Read more...</a>
                </div>
            </section>
        )
    })}
    </section>
</Layout>