---
import Layout from '../layouts/Main.astro';
---

<Layout title="Page Not Found">
    <section id="about">
        <div class="container">
            <h2>The Page You Are Looking For Does Not Exist</h2>
            <p>Sorry :/</p>
        </div>
    </section>
</Layout>