---
import Layout from '../layouts/Main.astro';
---

<Layout title="Off the Gully">
	<section id="about">
		<div class="container">
			<article class="about">
				<h2>About Me</h2>
				<p>Hi, I'm Will Murphy. I'm a software developer from Boston, Massachusetts. This is my website, <a href="">offthegully.com</a>. Here you will find my projects, photos, and more.</p>
			</article>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<h2>Contact</h2>
			<ul>
				<li><a href="mailto:wpm517@gmail.com">Email</a></li>
				<li><a href="https://www.linkedin.com/in/will-murphy-b24631199/">LinkedIn</a></li>
				<li><a href="https://github.com/william-murphy">GitHub</a></li>
			</ul>
		</div>
	</section>
</Layout>
