---
import Layout from '../../layouts/Main.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects')
projects.sort((a, b) => {
    return a.data.order < b.data.order ? 1 : -1
})
---

<Layout title="Off the Gully | Projects">
    {projects.map(async entry => {
        const { Content } = await entry.render()
        return (
            <section id={entry.slug}>
                <div class="container">
                    <h2>{entry.data.title}</h2>
                    {entry.data.links.map((link, i) => (
                        <small><a href={link.url}>{link.text}</a>{i != entry.data.links.length - 1 && " | "}</small>
                    ))}
                    <Content />
                </div>
            </section>
        )
    })}
</Layout>