body, main, section, article, figure, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
}

/* Set the global font */
@font-face {
    font-family: "Libre_Baskerville";
    src: url("./Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype")
}

/* Set a background color and default font */
body {
    font-family: "Libre_Baskerville";
    background-color: #333;
    line-height: 1.8;
    color: #333;
}

/* Style the header */
header {
    padding: 10px 15%;
    background-color: #333;
    color: #fff5e5;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff5e5;
    font-weight: bold;
}

/* Style the main content */
main {
    background-color: #fff5e5;
    padding: 0 15% 40px 15%;
}

section {
    padding: 40px 0 0 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.about figure {
    float: right;
    margin: 0 20px;
}

.about img {
    border-radius: 50%;
}

/* Style lists */
ul {
    list-style-type: none;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff5e5;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsive design (adjust as needed) */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    nav ul li {
        margin-right: 10px;
    }

    .container {
        padding: 0 10px;
    }
}