---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<div class="container">
					<h1>Will Murphy - Software Engineer</h1>
					<ul>
						<li><a href="/">About</a></li>
						<li><a href="/projects/">Projects</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/#contact">Contact</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<div class="container">
				<p>&copy; 2023 Will Murphy</p>
			</div>
		</footer>
	</body>
</html>
